<div class="starter-template">
<div class="page-header">
	<h1>Lean Coffee Sessions</h1>
</div>	
<table>  
  <% @sessions.each do |s| %>
    <tr>
      <td><%= s.id %>. <%= link_to s.title, session_path(s) %></td>
    </tr>
  <% end %>
</table>
</div>