<div class="starter-template">
	<div class="page-header">
		<h1>Lean Coffee Session</h1>
	</div>
	<div align="right" style="padding-bottom: 15px;">
		<span id="countdown-clock" class="not-started"></span>
		<button id="start-timer" class="btn btn-md countdown-btn" type="button">Start</button>
		<button id="reset-timer" class="btn btn-md countdown-btn" type="button">Reset</button>
	</div>
	<div class="row drag-area">
		<div class="col-md-4 to-discuss">
			<h3>To Discuss</h3>
		</div>
		<div class="col-md-4">
			<h3>Discussing</h3>
		</div>
		<div class="col-md-4">
			<h3>Discussed</h3>
		</div>
	</div>
	<div style="margin-top: 10px; margin-bottom: 10px">
		<button id="add-topic" class="btn btn-md" type="button">Add Topic</button>
		<button id="clear-topics" class="btn btn-md" type="button">Clear Topics</button>
	</div>
</div>