<div class="ui-widget-content draggable topic" data-id="<%= topic.id %>">
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default vote-up">
			<span class="glyphicon glyphicon-thumbs-up"></span>
		</button>
		<button type="button" class="btn btn-default vote-down">
			<span class="glyphicon glyphicon-thumbs-down"></span>
		</button>
	</div>
	<span class="badge votes"><%= topic.votes %></span>
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default topic-remove">
			<span class="glyphicon glyphicon-remove" style="color:red"></span>
		</button>
	</div>
	<div>
		<a href="#" class="editable-topic"><%= topic.description %></a>
	</div>
</div>