<div class="starter-template">
	<div class="page-header">

	</div>
	<div class="jumbotron">
		<h1>Lean Coffee Sessions</h1>
		<p>Welcome to lean coffee sessions! Choose from the options below to start a new
		sessions or view one that has already been created.</p>
		<%= link_to "Start Fresh", new_session_path, class: "btn btn-primary btn-lg" %>
		<%= link_to "View Existing", sessions_path, class: "btn btn-primary btn-lg" %>
	</div>
</div>