/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap3-editable/bootstrap-editable";
@import "bootstrap-sprockets";
@import "bootstrap";


body {
  padding-top: 50px;
}

.page-header {
  margin: 5px 0 10px;
}

.right .github-fork-ribbon {
  background-color: #333;
}

.starter-template {
  text-align: center;
}

[class*="col-"] {
  padding-bottom: 15px;
  border: 1px solid #ddd;
  min-height: 400px;
  vertical-align: top;
}

.todiscuss, .discussed  {
  background: #F5F5F5;
}

.todiscuss-discussed-hover {
  background: #D6D6D6;
}

.discussing {
  background: #FFFAFA;
}

.discussing-hover {
  background: #FFD6D6;
}

.countdown-btn {
  width:90px;
}

.countdown-clock {
  float: right;
  padding-right: 10px;
  transform: translateY(25%);
}

.topic {
  text-decoration:none;
  color:#000;
  display:block;
  min-height:10em;
  width:11em;
  padding:1em;
  margin:1em;
  float:left;
  z-index:1;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.topic.dragging {
  opacity: 0.6;
}

.btn:focus {
  outline: none;
}

.session-list {
  text-align:left;
}

@keyframes blink {
  50% {
    background: #F66;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: #F66;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: #F66;
    background-size: 75px 150px;
  }
}

.flash {
  animation: blink 2s infinite;
  -webkit-animation: blink 2s infinite;
  -moz-animation: blink 2s infinite;
}