<div class="ui-widget-content draggable">
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default vote-up">
			<span class="glyphicon glyphicon-thumbs-up"></span>
		</button>
		<button type="button" class="btn btn-default vote-down">
			<span class="glyphicon glyphicon-thumbs-down"></span>
		</button>
		&nbsp;
		<span class="badge votes">0</span>
		</div>
	<div>
		<a href="#" class="editable">Enter description</a>
	</div>
</div>